.anjuta/
.anjuta_sym_db.db
*~
Debug/
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
depcomp
install-sh
missing
pkmt.anjuta
src/*~
compile
config.guess
config.sub
ltmain.sh
src/tmpsys
test-driver
bin/
